---
import "@/styles/global.css";
import { Font } from "astro:assets";

interface Props {
  title?: string;
  lang?: string;
  description?: string;
}

const { title = "Laura's Blog", lang = "en", description } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <Font cssVariable="--font-sans" preload />
    <Font cssVariable="--font-serif" preload />
    <meta content={Astro.generator} name="generator" />
    {description && <meta name="description" content={description} />}
    <title>{title}</title>
  </head>
  <body class="bg-base-200 min-h-screen flex flex-col items-center">
    <main class="w-full flex flex-col pb-8">
      <slot />
    </main>
  </body>
</html>
